@model AbsenzAPPDBHosting.Models.Absenzen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Absenzen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schueler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schueler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Absenzgrund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Absenzgrund)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lehrer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lehrer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modul)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
